<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @user.cep %>
</p>

<p>
  <strong>Number:</strong>
  <%= @user.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @user.complement %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @user.cart_id %>
</p>

<p>
  <strong>Usertype:</strong>
  <%= @user.usertype_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
